<tr id="<%= dom_id repository %>" class="bg-white dark:bg-gray-800">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
    <%= repository.name %>
  </th>
  <td class="px-6 py-4">
    <%= truncate(repository.description, length: 30) %>
  </td>
  <td class="px-6 py-4">
    &nbsp;
  </td>
  <td class="px-6 py-4">
    &nbsp;
  </td>
  <td class="px-6 py-4 text-right">
    <%= link_to "Show", repository, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %> |
    <%= link_to 'Edit', edit_repository_path(repository), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </td>
</tr>
